alembic
aoc-lube
bcrypt
blinker
brlapi
chardet
colorama
cupshelpers
dbus-python
defer
distro
distro-info
duplicity
email-validator
entrypoints
fastapi
fasteners
flask
future
httptools
httpx
indicator-cpufreq
itsdangerous
jinja2
language-selector
launchpadlib
lockfile
louis
macaroonbakery
monotonic
netifaces
oauthlib
olefile
orjson
paramiko
passlib
pexpect
pillow
pip-chill
protobuf
psycopg2-binary
pycups
pygame
pygobject
pyinotify
pyjwt
pymacaroons
pynacl
pyopenssl
pyrfc3339
pysocks
python-apt
python-dateutil
python-debian
python-jose
python-multipart
pytz
pyxdg
pyyaml
reportlab
requests-unixsocket
selenium
simplejson
sip
systemd-python
ufw
ujson
unattended-upgrades
usb-creator
uvicorn
uvloop
watchfiles
webdriver-manager
websockets
werkzeug
wxpython
xkit
